body{
    background-image:url(/image/jon-flobrant.jpg);
    background-size:cover;
}


h2{
    color:#B34498;
    text-align: center;
    border: 5px solid #67B356;
}

p{
    color:purple;
}
p {
    color:blue;
}

li{
    /* list-style: none; */
    display:inline-block;
}

.dark{
    color:black;
}
/* .active{

} */

#div1{
    /* font-size: 60px; */
    background-color:green; 
    border:20px 20px !important;
}

